.subscribing-form-btn {
  display: block;
  width: 16px;
  height: 16px;

  background-color: transparent;
  background-image: url("../../images/send-plane-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
  border: none;
}

.subscribing-form-btn:hover,
.subscribing-form-btn:focus {
  opacity: 0.7;

  outline: none;
}

.subscribing-form-btn:active {
  opacity: 0.5;
}

.subscribing-form-input:disabled + .subscribing-form-btn {
  opacity: 0.5;
}
